tbody {
  width: 100%;
}
main {
  background-color: #526c85;
}
.bg-steel {
  background-color: #4e616f;
}
.bg-steel-light {
  background-color: #5c7689;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

label{
  color: #212529;
  font-weight: bold;
  padding: 0px;
}

h6 {
  font-weight: bold;
}
form {
  padding: 1rem;
  padding-left: 0px;
}

table {
  text-align: left;
  background-color: inherit;
}

figcaption {
  padding: 3%;
}