{% extends "layout.html" %}
{% block content %}
    <h1>We hear you.</h1>
    <h1>And now others can too.</h1>
    <hr>
    <p>There are currently 466 million people living with a hearing impairment.</p>
    <p>The HISEA allows a hearing impaired indivdual to demonstrate to others what it sounds like to live in their shoes.</p>
    <hr>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock content %}
