{% extends "layout.html" %}

{% block content %}

<div class="list-group">
  {% for file in sound_file %}
    <a id="sound_file" class="list-group-item list-group-item-action" data-toggle="list" onclick="setFilePath()">{{file.file_name}}</a>
  {% endfor %}
</div>


<script>

    function setFilePath() {
     var file_path = "{{file_path}}";
     var file_name = document.getElementById("sound_file").innerHTML;
     var full_file_path = file_path.concat(file_name);
     var sound = document.getElementById("sound");
     sound.src = full_file_path;
    }

</script>


<figure>
    <figcaption>Listen to your file:</figcaption>
    <audio id="sound"
        controls
        src="" type="audio/wav">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>
{% endblock content %}
