{% extends "layout.html" %}
{% block content %}
	<h2>Enter the loss of decibels corresponding to each given frequency.<h2>
    

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Frequency(Hz)</th>
      <th scope="col">Hearing Loss(dB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">125</th>
      <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
    <tr>
      <th scope="row">250</th>
            <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
    <tr>
      <th scope="row">1000</th>
            <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
        <tr>
      <th scope="row">2000</th>
            <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
        <tr>
      <th scope="row">4000</th>
            <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
        <tr>
      <th scope="row">8000</th>
            <td><div class="input-group">
      	<input type="text" class="form-control">
      </div>
      </td>	
    </tr>
  </tbody>
</table>
{% endblock content %}
