{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        let s = "{{sound}}";
        let spin = document.getElementById("spin_aud");
        spin.hidden = true;
        // The page is fully loaded
        if (s == "True") {
            // keep selected items in dropdown
            let freq = document.getElementById("freqLossSelect")
            let aud = document.getElementById("inlineFormCustomSelectPref")
            freq.options.selectedIndex = parseInt("{{choices_freq}}")
            aud.options.selectedIndex = parseInt("{{choices_aud}}")
            // set src in media players
            fig = document.getElementById("soundoutfig");
            fig.hidden = false;
            let sound = document.getElementById("soundout");
            sound.src = "{{sound_out}}";
            let soundin = document.getElementById("soundin");
            soundin.src = "{{sound_in}}";
            soundin.load();
            sound.load();
        } else {
            let file_name = document.getElementById("inlineFormCustomSelectPref");
            let file_path = "{{file_path}}";
            let full_file_path = file_path + file_name.options[1].text;
            let soundin = document.getElementById("soundin");
            soundin.src = full_file_path;
            soundin.load();
        }
        // else set the src of the sound_in with the first drop down option
    });
    function changeFunc() {
        let spin = document.getElementById("spin_aud");
        spin.hidden = true;
        let soundout = document.getElementById("soundoutfig")
        soundout.hidden = true;
        let selectBox = document.getElementById("inlineFormCustomSelectPref");
        let file_name = selectBox.options[selectBox.selectedIndex].text;
        let file_path = "{{file_path}}";
        let full_file_path = file_path + file_name;
        let sound = document.getElementById("soundin");
        sound.src = full_file_path;
        sound.load();
    }
    function spin() {
        let spin = document.getElementById("spin_aud");
        spin.hidden = false;
    }



</script>

<div>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h4 style="margin-bottom: 2%;">Simulation of {{current_user.username}}'s auditory perception with
                    audiogram </h4>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.frequency_loss_group_id(class="custom-select my-1 mr-sm-2",id="freqLossSelect",
                            onchange="changeFunc();") }}
                        </div>
                    </div>
                    <div class="col-2">
                        <h4>in sound file </h4>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            {{ form.sound_group_id(class="custom-select my-1 mr-sm-2", id="inlineFormCustomSelectPref",
                            onchange="changeFunc();") }}
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-info",onclick="spin();") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="text-center">
    <div class="spinner-border text-primary " role="status" id="spin_aud">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="d-flex">
    <figure style="margin-left: 8%;">
        <figcaption>Original file:</figcaption>
        <audio id="soundin" controls type="audio/wav">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    <figure id="soundoutfig" hidden="true" style="margin-left: 30%;">
        <figcaption>Transformed file:</figcaption>
        <audio id="soundout" controls type="audio/wav">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
</div>
<hr />
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-1 px-md-5 text-center overflow-hidden">
        <h2 class="display-5">Instructions</h2>
        <div class="my-3 p-3">
            <ol style="text-align: left;">
                <li>
                    <p class="lead">Complete the sentence by selecting options from the dropdown menus.</p>
                </li>
                <li>
                    <p class="lead">​Once you have made your selection, and after every instance in which you change the
                        selection, press the "Start Simulation" button.</p>
                </li>
                <li>
                    <p class="lead">You can play both the original sound file (normal hearing) and the modified sound
                        file (impaired hearing). You may switch back and forth between the two options without
                        restarting the simulator.</p>
                </li>
                <li>
                    <p class="lead">To export the modified sound file (impaired hearing), select the "Download" button
                    </p>
                </li>
            </ol>
            <p class="lead">Input Sound: Select which sound file you would like to use for the simulation from the
                dropdown menu. The menu options are based on the input files you have uploaded on your account page. If
                you want to use a new file, upload it on the account page.
                Setting: Select which setting you would like to use for the visual element of the simulation. The visual
                element is a video of a generic scene. The purpose of this aspect of the simulator is to introduce some
                distraction while trying to listen to the modified sound file. Hearing involves more than just the
                auditory system and depends on cognitive load, fatigue, and attention. </p>
        </div>
    </div>
</div>
{% endblock content %}